.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid;
}

.logo{
    width: 100px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.nav-items > ul > li {
    padding: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    margin: 5px;
    width: 200px;
    font-size: 12px;
   
}

.res-card:hover{
     border: 1px solid black;
     cursor:pointer;
}

.food-img{
    width: 200px;
    height: 150px
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.filter{
    display: flex;
}

.search-bar{
    margin: 10px;
}

.shimmer-container{
  display: flex;
    flex-wrap: wrap;
}

.shimmer-cards{
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin: 20px;

}

.login-btn{
    padding: 0 20px;
    cursor: pointer;
    margin-right: 20px;
}